@font-face {
      font-family: "Boncegro"; 
      src: url("./fonts/Boncegro\ FF\ 4F.otf") format("truetype"); 
      font-style: normal; 
      font-weight: normal; 
      } 
  

* {
    box-sizing: border-box;
    font-family:Boncegro;
  }
  
  body {
    background-color: lightblue;
  }
